body {
    font-family: Open Sans;
    font-weight: lighter;
    margin: 20px;
}

h1 {
    font-weight: normal;
}

div.box {
    padding: 12px;
    border: 1px lightgrey solid;
    margin: 6px 3px;
    text-align: center;
}

div.block {
    display: block;
}

div.compressed {
    /*float: left;
    clear: both;*/
}

div.float {
    position: relative;
    display: inline-block;
}

div.box span {
    margin-bottom: 12px;
    display: block;
    font-weight: bold;
    text-align: left;
}

div.gap {
    margin-right: 20px;
}

div.controls {
    text-align: center;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  margin: 0;
}
